* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(to right, #004aad, #4f5455);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar img {
    height: 100px;
    width: 125px;
}

.navbar nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    transition: color 0.3s;
    font-weight: bold;
}

.navbar nav a:hover {
    color: #ffdc00;
}

.chatbox {
    background-color: #ffdc00;
    color: #004aad;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
}

/* Introduction To Societies */

.introduction {
    background: linear-gradient(to right, #3b5fa5, #533c76), url('images/hero-bg.jpg') no-repeat center center / cover;
    color: white;

    padding: 3rem 2rem;
    clip-path: (0 0, 100% 0, 100% 90%, 0 100%);
}

.introduction h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.introduction p  {
    font-size: 1rem
}


/* Socities Transition */
.tech-socities h2 {
color: #004aad;
}


.images-container {
    width: 125vmin;    
    margin: 1rem auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
    display: flex;
}

.logo {
    width: 25%;
    display: flex; 
    animation: slide 10s infinite;
}
@keyframes slide {
    0% {
       transform: translateX(0);
    }
    25% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(-100%);
    }
    75% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
} 


.images-container .logo img {
width: 100%;
border: 15px solid white;
}


/* Footer */
footer {
    text-align: center;
    padding: 2rem;
    background: #004aad;
    color: white;
    font-size: 0.9rem;
}

footer .social-links a {
    text-decoration: none;
    color: #ffdc00;
    margin: 0 10px;
    font-weight: bold;
}

footer .social-links a:hover {
    text-decoration: underline;
}
footer .credits p {
    margin-top: 2px;
}