* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(to right, #004aad, #4f5455);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar img {
    height: 100px;
    width: 125px;
}

.navbar nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    transition: color 0.3s;
    font-weight: bold;
}

.navbar nav a:hover {
    color: #ffdc00;
}

.chatbox {
    background-color: #ffdc00;
    color: #004aad;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
}

/* Socities */
.tech-socities h2 {
color: #004aad;
}


.images-container {
    width: 125vmin;    
    margin: 1rem auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
    display: flex;
}

.logo {
    width: 25%;
    display: flex; 
    animation: slide 10s infinite;
}
@keyframes slide {
    0% {
       transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
} 


.images-container .logo img {
width: 100%;
border: 15px solid white;
}


/* Footer */
footer {
    text-align: center;
    padding: 2rem;
    background: #004aad;
    color: white;
    font-size: 0.9rem;
}

footer .social-links a {
    text-decoration: none;
    color: #ffdc00;
    margin: 0 10px;
    font-weight: bold;
}

footer .social-links a:hover {
    text-decoration: underline;
}
