
/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(to right, #004aad, #4f5455);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar img {
    height: 100px;
    width: 125px;
}

.navbar nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    transition: color 0.3s;
    font-weight: bold;
}

.navbar nav a:hover {
    color: #ffdc00;
}

.chatbox {
    background-color: #ffdc00;
    color: #004aad;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
}


/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Section Styles */
section {
    margin: 40px auto;
    max-width: 800px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section h2 {
    text-align: center;
    color: #0d6efd;
    margin-bottom: 10px;
}

section p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

form textarea {
    resize: none;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}

form input[type="submit"] {
    background: #0d6efd;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background: #0056b3;
}

/* Image Styles */
section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}


/* Footer */
footer {
    text-align: center;
    padding: 2rem;
    background: #004aad;
    color: white;
    font-size: 0.9rem;
}

footer .social-links a {
    text-decoration: none;
    color: #ffdc00;
    margin: 0 10px;
    font-weight: bold;
}

footer .social-links a:hover {
    text-decoration: underline;
}
footer .credits p {
    margin-top: 2px;
}

/* Media Queries */
@media (max-width: 768px) {
    header .navbar nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .navbar nav a {
        margin: 5px 0;
    }

    section {
        margin: 20px;
    }
}

